@{
    ViewData["Title"] = "patients";
}
<div class="text-center">
    <h2>@ViewData["Result"]</h2>

    <form>
        <button asp-controller="EditPatients" asp-action="PatientShow">Show patient</button>
    </form>
</div>